<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pr.visitease">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".StarterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Paper"
            android:exported="false" />
        <activity
            android:name=".contactUs"
            android:exported="false" />
        <activity
            android:name=".changePassword"
            android:exported="false" />
        <activity
            android:name=".myAccount"
            android:exported="false" />
        <activity
            android:name=".StarterApplication"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/splash_theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/login_theme" />
        <activity
            android:name=".Signup_Activity"
            android:theme="@style/login_theme" />
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Webview_rgpv"
            android:theme="@style/login_theme" />
    </application>

</manifest>